.main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 28px;
}

h2{
    font-size: 22px;
}

h4{
    font-weight: normal;
    margin-bottom: -0.5vw;
}

.figure1{
    text-align: center;
}

.img1{
    width: 540px;
    height: 461px;
}

.contact-info{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact-info p{
    flex: 1;
    text-align: center;
    min-width: 200px;
}

.expected_date{
    display: flex;
    flex-wrap: wrap;
    float: right;
    font-weight: bold;
}

.cert_date{
    display: block;
    float: right;
    font-weight: bold;
}

hr{
    border-color: black;
}
